target/
project/boot/
project/metals.sbt
collab/.idea/
.idea_modules/
node_modules/
*.log
logs
*/logs/*
.history
*.sublime-project
*.sublime-workspace
.DS_Store
blink/
.tern-project
.tern-port
npm-debug.log
.vscode
Brewfile.lock.json
.metals/
.bloop/
.yalc/
yalc.lock
sbt.json
.idea
dist/
index.js